footer.main-footer
  // To the right
  .pull-right.hidden-xs
    | Selenium Nightwatch CSS Regression Testing
  // Default to the left
  strong
    | Copyright © 2017 
    a(href='#') Nightvision
    | .
  |  All rights reserved.
