// REQUIRED JS SCRIPTS
// jQuery 2.1.4
script(src='/js/plugins/jQuery/jQuery-2.1.4.min.js')
// Bootstrap 3.3.5
script(src='/js/plugins/bootstrap/bootstrap.min.js')
// parsley 2.3.2
script(src='/js/plugins/parsley/parsley.min.js')
// lazyload
script(src='/js/plugins/lazyload/jquery.lazyload.min.js')
// dataTables
script(src='/js/plugins/datatables/jquery.dataTables.min.js')
// script(src='/js/plugins/datatables/dataTables.bootstrap.min.js')

// AdminLTE App
script(src='/js/app.min.js')
script(src='/js/nui.js')
script(src='/js/nsocket.js')
script(src='/js/ntestcase.js')
script(src='/js/datatables.js')
