meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
title #{pageTitle}
meta(name="description", content="Nightvision")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="stylesheet", href="/css/style.css")

// Bootstrap 3.3.5
link(rel='stylesheet', href='/css/bootstrap.min.css')
// Font Awesome
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
// Ionicons
link(rel='stylesheet', href='/css/ionicons.min.css')
// Theme style
link(rel='stylesheet', href='/css/AdminLTE.min.css')
// dataTables
link(rel='stylesheet', href='/css/dataTables.bootstrap.css')
// link(rel='stylesheet', href='/css/jquery.dataTables.min.css')
//
  AdminLTE Skins. We have chosen the skin-blue for this starter
  page. However, you can choose any other skin. Make sure you
  apply the skin class to the body tag so the changes take effect.
link(rel='stylesheet', href='/css/skins/skin-blue.min.css')
