extends ../../_base/layout.pug

prepend vars
  - var pageTitle = 'View Category'

block content

  +c-page-title-breadcrumb({
    title: title,
    subtitle: '',
    breadcrumbList: {"Home": "/", "Management": "/management", "Categories": "/management/categories", "View":""}
  })

  section.content
    // Your Page Content Here
    .row
      .col-xs-12
        .box
          //- .box-header
          //-   h3.box-title #{title}
          .box-body.table-responsive.no-padding
            table.table.table-hover
              tbody
                tr
                  td ID
                  td !{category._id}
                tr
                  td Name
                  td !{category.name}
          .box-footer
            a.btn.btn-default(href='/management/categories') Back
            a.btn.btn-info.pull-right(href='/management/categories/'+category._id+'/edit') Edit
