extends _base/layout.pug

prepend vars
  - var pageTitle = 'Landing home'

block content

  +c-page-title-breadcrumb({
    title: title,
    subtitle: '',
    breadcrumbList: {"Home": "/", "Profile":"/profile", "Change Password":""}
  })

  section.content
    .row
      .col-xs-12
        .box
          form( method='post')
            .box-header
              h3.box-title Change Password
            .box-body
              if messages.error
                .alert.alert-danger
                  div= messages.error
              if messages.info
                .alert.alert-info
                  div= messages.info
              if messages.success
                .alert.alert-success
                  div= messages.success
              .form-group.has-feedback
                input.form-control(type='hidden', name='id', value=profile._id)
              .form-group.has-feedback
                input.form-control(type='password', placeholder='Password', name='password', required='', minlength='3')
                span.glyphicon.glyphicon-lock.form-control-feedback
              .form-group.has-feedback
                input.form-control(type='password', placeholder='Retype password', name='confirm', required='', minlength='3')
                span.glyphicon.glyphicon-log-in.form-control-feedback
            .box-footer
              button.btn.btn-primary.pull-right(type='submit') Update
